<div class="js_bridge">
  <p id="n"><%= @n %></p>
</div>


<div class="row">
  <div class="col s12">
    <h1>make</h1>
    <p id="test">test</p>

    <div>
      <div class="row">
        <div class="col s6">
          <table class="centered">
            <tbody id="table1"></tbody>
          </table>
        </div>
        <div class="col s6">
          <table class="centered">
            <tbody id="table2"></tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col s6">
          <table class="centered">
            <tbody id="table3"></tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="answer"></div>
  </div>
</div>


<%= javascript_include_tag 'make' %>
