<div class="container">
  <h1>N puzzle</h1>
  <div class="btn-wrapper">
    <a href="/move/n_input" class="btn waves-effect waves-light btn-large"><i class="material-icons left">create</i>Capture!!</a>
  </div>
  <div class="btn-wrapper">
    <a href="/move/n_input_make" class="btn waves-effect waves-light btn-large">Make!!</a>
  </div>
</div>
